################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BACK/bankinapi/.vs/bankinapi/FileContentIndex
/BACK/bankinapi/.vs/bankinapi
/BACK/bankinapi/.vs
/BACK/bankinapi/.config
/FRONT_END/node_modules
/BACK/bankinapi/Debug
/BACK/bankinapi/bin
/BACK/bankinapi/obj
/BACK/bankinapi/bin/Debug/net7.0
/BACK/bankinapi/.vs/bankinapi/v17/.suo
/.vs/Nexwallet/FileContentIndex/
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.AssemblyInfo.cs
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.AssemblyInfoInputs.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.assets.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.GeneratedMSBuildEditorConfig.editorconfig
/.vs
