################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BACK/bankinapi/.vs/bankinapi/FileContentIndex
/BACK/bankinapi/.vs/bankinapi
/BACK/bankinapi/.vs
/BACK/bankinapi/.config
/FRONT_END/node_modules
/BACK/bankinapi/Debug
/BACK/bankinapi/bin
/BACK/bankinapi/obj
/BACK/bankinapi/bin/Debug/net7.0
/BACK/bankinapi/.vs/bankinapi/v17/.suo
/.vs/Nexwallet/FileContentIndex/
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.AssemblyInfo.cs
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.AssemblyInfoInputs.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.assets.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.GeneratedMSBuildEditorConfig.editorconfig
/.vs
/BACK/bankinapi/obj/project.nuget.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.genruntimeconfig.cache
/BACK/bankinapi/obj/project.assets.json
/BACK/bankinapi/.vs/bankinapi/v17/.suo
/BACK/bankinapi/bin/Debug/net7.0/bankinapi.dll
/BACK/bankinapi/bin/Debug/net7.0/bankinapi.exe
/BACK/bankinapi/bin/Debug/net7.0/bankinapi.pdb
/BACK/bankinapi/obj/Debug/net7.0/ref/bankinapi.dll
/BACK/bankinapi/obj/Debug/net7.0/refint/bankinapi.dll
/BACK/bankinapi/obj/Debug/net7.0/apphost.exe
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.csproj.CoreCompileInputs.cache
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.dll
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.MvcApplicationPartsAssemblyInfo.cs
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.pdb
/BACK/bankinapi/obj/Debug/net7.0/bankinapi.sourcelink.json
/BACK/bankinapi/obj/bankinapi.csproj.nuget.dgspec.json
/BACK/bankinapi/obj/bankinapi.csproj.nuget.g.props
