################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BACK/bankinapi/.vs/bankinapi/FileContentIndex
/BACK/bankinapi/.vs/bankinapi
/BACK/bankinapi/.vs
/BACK/bankinapi/.config
/FRONT_END/node_modules
/BACK/bankinapi/Debug
/BACK/bankinapi/bin
/BACK/bankinapi/obj
/BACK/bankinapi/bin/Debug/net7.0